{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<!-- sliding images section start -->
<section id="sliding" style="background: #f4f4f4;">
  <center>
  <div class="bg-medium">
    <div class="transparentbox">
    <br>
      <div class="maindiv">
        <br><br><br><br><br><br><br><br>
        <h1 style="color: #fff;font-size: 4rem;margin-bottom: 2rem;">
          <span class="text-primary">Welcome Man! <br></span>
          Find all the notes you need <br>
          <span class="text-primary">right here!!<br></span>
        </h1>
      </div>
    </div>
    <br><br>
  </div>
  </center>
</section>
<!-- sliding images section end -->
{% endblock %}
